
body{
  width:100%;
  background-color: grey;
  font-family: 'fallback', sans-serif;
}

h1{font: small-caps 300 2em/1.5em
    font-family: 'fallback', sans-serif;
    text-align: center;
    margin: 20px auto 0;padding: 0;
  }

.land{
  fill: black;
   }
/*can't decide if i prefer states to be bordred or not*/
/*.border-states{
  stroke: #fff;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}*/

.bubble {
  fill: red;
  fill-opacity: .5;
  stroke: #606060;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #606060;
}

.legend text {
  fill: #777;
  font: 10px fallback: sans-serif;
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  max-width: 400px;
  height: auto;
  padding: 5px;
  background-color: #606060;
  pointer-events: none;
  font-family: fallback: sans-serif;
  font-size: 12px; color #fff;
}


